<h1>Messenger 📬</h1>
<div>
  There are currently <strong>{{users}}</strong> user(s) online.
</div>
<br>
<div *ngIf="!isChat">
  <div>
    <label for="name">Enter your name to start chatting:</label>
      <p>
      <div>
          <input id="name" type="text" [formControl]="name" (keyup.enter)="setName()" placeholder="Your name...">
      </div>
    <p>
      <button class="button" (click)="setName()">OK</button>
    </p>
  </div>
</div>

<div *ngIf="isChat" class="messages">
  <div>
    <ul>
      <li class="message" *ngFor="let message of messages" style="list-style-type:none;" [class.mine]="message">
        {{message.datetime}} : {{message.username}}: {{message.text}}
      </li>
    </ul>
  </div>

  <div>
    <label>
    <textarea required="required" spellcheck="true" autoComplete="true" rows="1" class="chat-input"
            placeholder="type message..." [(ngModel)]="message" (keyup.enter)="addChat()" minlength="1">
    </textarea>
    </label>
  </div>
  <p>
  <div>
    <button (click)="addChat()" slot="end" class="button" name="Send">Send</button>
  </div>
</div>
