textarea, input {
  width: calc(100% - 20px);
  margin-left: 10px;
  background-color: #49494c;
  color: #bababa;
  font-size: 1.2em;
  resize: none;
}

input {
  width: 30%;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
}

.button {
  transition-duration: 0.4s;
  background-color: #008CBA;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button:hover {
  background-color: whitesmoke;
  color: black;
}
